@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
    font-size: 100%;
}

.wrap {
    overflow: hidden;
}

body{
    background-image: url(backgraund-img.jpg);
    background-size: cover; /* 画像を画面いっぱいに表示 */
    background-position: center center;
    font-family: "Yuji Syuku", serif; /* 書体 */
    font-weight: 400;
    font-style: normal;
    line-height: 1.7;
    color: black; /* 文字色 */
    font-size: 1rem; /* フォントサイズ */
}
a {
    text-decoration: none; /* 文字色 */
    color: black; /* リンク文字色 */
}
img {
    max-width: 100%;
}

/*
中身のコンテンツの最大幅を設定し、共通で使用
*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
}

a :hover {
    opacity: 0.7;
}

li {
    list-style: none;
}

.sec-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

/*
ボタン
「display: inline-block;」を設定して
paddingでボタンに幅と高さを持たせる。
*/
.btn {
    color: #FDF851;
    border: solid 2px #FDF851;
    display: inline-block;
    font-size: 0.750rem;
    padding: 14px 36px;
    margin-top: 30px;
  }

/* ヘッダー
------------------------------- */

#header {
    background-image: url(fidel-fernando-V6op78Am_J0-unsplash.jpg);
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}


.logo {
    width: 150px;
}

.main-nav {
    display: flex;
    font-size: 1.25rem;
    list-style: none;
    margin-top: 34px;
}

#header a {
    color: #FDF851;
}

.main-nav li {
    margin: 0 25px;
}


/* メイン
------------------------------- */

/*-------------------------------------------
店内紹介
-------------------------------------------*/

#insides {
    text-align: center;
    margin-bottom: 80px;
}

#insides .flex-item {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

#insides .flex-item img {
    height: 360px;
    width: 100%;
    object-fit: cover;
}

/*
テキストを上に重ねるために、
親要素の「position」に「relative」を設定
*/
#insides .flex-item .inside {
    width: 49%;
    position: relative;
}

/*
「position: absolute;」を設定し、
top、left、rightで位置を調整
*/
#insides .flex-item .inside .text {
    max-width: 290px;
    color: yellow;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
}

#insides .flex-item .inside .title {
    font-size: 1.25rem;
    margin-bottom: 2px;
}

/*-------------------------------------------
こだわり
-------------------------------------------*/
#commitment {
    height: 520px;
    background-image: url(6uPzSXgJ2ajtoiw1716960353_1716960367.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 80px;
    color: yellow;
    display: flex;          /* Flexboxを使用 */
    align-items: center;    /* 垂直方向に中央揃え */
    justify-content: center; /* 水平方向に中央揃え */
}

/*-------------------------------------------
メニュー
-------------------------------------------*/

.menu {
    padding: 60px 0;
}

.menu .sec-title {
    margin-bottom: 40px;
}

.menu .flex-item {
    display: flex;
    align-items: center; /* 写真と文字の高さ位置統一 */
    justify-content: space-between;
}

.menu .item {
    width: 48%;
    text-align: center;
}


.menu .item img {
    width: 100%;
}

.menu .item p {
    margin-bottom: 30px;
    text-align: center;
}

.menu .btn {
    color: black;
    border: solid 1px black;
}

.menu .item p:last-child {
    margin-bottom: 0;
}

/*-------------------------------------------
フッター
-------------------------------------------*/

#footer {
    padding: 20px 0;
}

#footer .flex-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer iframe {
    margin: 10px;
    max-width: 650px;
    height: 500px;
}

#footer .item h3 {
    font-size: 40px;
    margin-bottom: 30px;
}

#footer .item a {
    display: inline-block;
    margin: 10px 0;
}

.copyright {
    background-color: #EBCC7E;
    text-align: center;
    padding: 30px 0;
    margin-top: auto;
}


/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 896px) {
    /*-------------------------------------------
    店内紹介
    -------------------------------------------*/

    #insides .flex-item {
      flex-direction: column;
      display: flex;
      justify-content: center; /* 左右中央配置 */
      align-items: center; /* 上下中央配置 */
      flex-wrap: wrap; /* フレックスアイテムが複数行に折り返されるように設定 */
      margin-top: 40px;
      background-size: cover;
    }
    #insides .flex-item .item {
      width: 100%;
    }
    #insides .flex-item .item:first-child {
      margin-bottom: 30px;
    }


    /*-------------------------------------------
  こだわり
  -------------------------------------------*/
  #commitment {
    padding-top: 35px;
    margin-bottom: 50px;
  }

  /*-------------------------------------------
  Catalog & Antique
  -------------------------------------------*/
  .menu {
    padding: 30px 0;
  }
  .menu .flex-item {
    flex-direction: column;
  }
  .menu .item {
    width: 100%;
  }
  .menu .item:first-child {
    margin-bottom: 60px;
  }

  /*-------------------------------------------
  フッター
  -------------------------------------------*/
  #footer {
    text-align: center;
  }

  #footer iframe {
    width: 97%;
    height: 400px;
  }

  #footer .flex-item {
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #footer .item {
    width: 100%;
    margin-bottom: 30px;
  }
  #footer .item:first-child {
    text-align: center;
    padding: 0;
  }

}